.mainContainer {
  flex: 1 0 auto;
  //! cuando se comience a construir los items en el main pasar la altura a altomatico
  background-color: $color-terciario-red;
  box-shadow: -0.2rem -0.2rem 0.4rem rgba($color-primary-grey-dark, 0.5);
}
