//*!Colores principales de la pagina
//*TODO Colores de la marca
$color-primary: #f8a800;
$color-primary-dark: #000;
$color-primary-grey-dark: #455a64;
$color-primary-grey-ligth: #78909c;

//*TODO Colores secundarios
$color-secondary: white;
$color-secondary-dark: rgb(26, 14, 14);
$color-secondary-grey-dark: #5d5d5e;
$color-secondary-grey-ligth: #abbac2;

//*TODO Colores terciarios
$color-terciario-blue: #00263b;
$color-terciario-red: #6f0000;

//*TODO Colores para las fuentes
$color-font-default: black;
$color-font-principal: #f8a800;
$color-font-secondario: white;
$color-font-terciario-blue: #00263b;
$color-font-terciario-red: #6f0000;

//!Margenes

//!Paddings
$padding-default: 1rem;
$padding-primary: 1.5rem;
$padding-secondary: 2rem;
$padding-tertiary: 2.5rem;

//!Tamaños de fuente
$font-default: 1rem;
$font-primary: 1.5rem;
$font-secondary: 2rem;
$font-tertiary: 2.5rem;
//!Sombras

//!border radius
$radius-default: 1rem;
