.align {
  position: absolute;
  top: 40%;
  left: 40%;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 10px;
}

.resalt-item-aside {
  background-color: rgba(white, 0.2);
  border-bottom: 1px solid rgba(white, 0.1);
}

.resalt-item-menu {
  background-color: rgba(white, 0.2);
  border-bottom: 1px solid rgba(white, 0.1);
}

.resalt {
  // box-shadow: 0.2rem 0.2rem 0.5rem rgba(white, 0.3);
}
